@font-face {
    font-family: 'jumbox';
    src: url('jumbox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'jumbox', sans-serif;
    margin-bottom: 30px;
}

.container {
    text-align: center;
    max-width: 400px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
}


@media (min-width: 769px) {
    body {
        background-image: url(tetpc.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .container {
        font-size: xx-large;
        margin-top: 300px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 2em;
        color: #f7d29d;
    }
  .clock{
    float: left;
    overflow: hidden;
    background-color: #e82219;
    border-radius: 30%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
    body {
        background-image: url(tetdt.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .container {
        margin-top: 250px;
        font-size: x-large;
    }
    h1 {
        font-size: 2.6rem;
        color: #ffc97b;
    }
  .clock {
    float: left;
    overflow: hidden;
    background-color: #e82219;
    color: yellow;
    border-radius: 30%;
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    margin: 3% 0 3% 4%;
    }
  .clock .num {
    font-size: 130%;
    font-weight: 400;
    height: 0;
    line-height: 200%;
    }
  .clock .text {
    font-size: 70%;
    text-transform: uppercase;
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 180%;
    }
}
