body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container {

}

#countdown {

}

#days, #hours, #minutes, #seconds {

}


@media (min-width: 769px) {
    body {
    background-image: url(tetpc.png);
    background-size: contain;
    }
}


@media (max-width: 768px) {
    body {
    background-image: url(tetdt.png);
    background-size: contain;
    }
}
