@font-face {
    font-family: 'jumbox';
    src: url('jumbox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'jumbox', sans-serif;
    margin-bottom: 30px;
}

.container {
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#days, #hours, #minutes, #seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: linear-gradient(to bottom, red 50%, blue 50%);
    color: yellow;
    font-family: 'jumbox', sans-serif;
    font-size: 2em;
    border-radius: 15px;
}

#days::after, #hours::after, #minutes::after, #seconds::after {
    content: attr(data-label);
    font-size: 0.5em;
    color: blue;
}

@media (min-width: 769px) {
    body {
        background-image: url(tetpc.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .container {
        margin-top: 300px;
        font-size: xx-large;
    }
    h1 {
        font-size: 2em;
        color: #f7d29d;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url(tetdt.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .container {
        margin-top: 250px;
        font-size: x-large;
    }
    h1 {
        font-size: 2.6rem;
        color: #ffc97b;
    }
}
